<nav class="navbar navbar-expand-lg navbar-dark fix-top w-100">
    <div class="container">
      <a class="navbar-brand" href="#">Asset Management Sytem</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown"> 
              <a class="nav-link active dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown <i class="fa-solid fa-user mx-2" style="color: #000000;"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                <li><a class="dropdown-item" href="#">Logout</a></li>
              </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
